@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  .principal-forms{
    margin: 3px;
    padding: 0;
    /* user-select: none; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
    height: 100%;
    display: grid;
    place-items: left;
    text-align: center;
  }
  .content-forms{
    width: 540px;
    padding: 30px 30px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,2px 2px 5px rgba(94,104,121,0.288);
    margin: 40px 0px 40px 372px;
    font-family: Poppins, sans-serif;
  }
  .content-forms .text{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
  }
  .field{
    height: 50px;
    display: flex;
    position: relative;
    float: left;
    margin-top: 25px;
  }
  .field:nth-child(2){
    /*margin-top: 20px;*/
  }
  .field input{
    height: 100%;
    /*width: 540px;*/
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
                inset -5px -5px 10px #ffffff73;
  }
  .field input:focus{
    box-shadow: inset 1px 1px 2px #BABECC,
                inset -1px -1px 2px #ffffff73;
  }
  .field span{
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 50px;
  }
  .field label{
    position: absolute;
    top: -25%;
    transform: translateY(-50%);
    left: 20px;
    pointer-events: none;
    color: #666666;
  }
  .field input:valid ~ label{
    opacity: 0;
  }
  .forgot-pass{
    text-align: left;
    margin: 10px 0 10px 5px;
  }
  .forgot-pass a{
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
  }
  .forgot-pass:hover a{
    text-decoration: underline;
  }
  .button-forms{
    margin: 25px 135px;
    width: 250px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
  }
  .button-forms:focus{
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
               inset -5px -5px 10px #ffffff73;
  }
  .sign-up{
    margin: 10px 0;
    color: #595959;
    font-size: 16px;
  }
  .sign-up a{
    color: #3498db;
    text-decoration: none;
  }
  .sign-up a:hover{
    text-decoration: underline;
  }
  .nav-tabs {
    margin: 100px 0px 0px 375px;
    border-bottom: 1px solid #fff;
  }
  #inpNome{
    width: 540px;
  }
  #inpEmail{
    width: 540px;
  }
  #inpSenha{
    margin-left: 12px;
  }
  .mensagem{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background: #f2f2f2;
    text-align: center;
    overflow: hidden;

  }
  .show-btn{
    margin: 25px 0;
    width: 250px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
  }
  .show-btn.disabled{
    pointer-events: none;
  }
  .modal{
    position: fixed;
    right: 0;
    opacity: 0;
    bottom: -100%;
    width: 360px;
    transition: bottom 0.4s;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
  }
  .modal.show{
    margin-right: 490px;
    bottom: 110px;
    opacity: 1;
  }
  .modal .top-content{
    background: #1e6b2f;
    width: 100%;
    height: 50px;
    padding: 0 0 30px 0;
    image-orientation: center;
    image-resolution: 80px;
  }
  .top-content .left-text{
    text-align: left;
    padding: 10px 15px;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
    user-select: none;
  }
  .top-content .close-icon{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 23px;
    color: silver;
    cursor: pointer;
  }
  .close-icon:hover{
    color: #b6b6b6;
  }
  .top-content .fa-camera-retro{
    font-size: 80px;
    color: #f2f2f2;
  }
  .modal .bottom-content{
    background: white;
    /*width: 100%;*/
    padding: 15px 20px;
  }
  .bottom-content .text{
    font-size: 28px;
    font-weight: 600;
    color: #34495e;
    text-align: center;
  }
  .bottom-content p{
    font-size: 18px;
    line-height: 27px;
    color: grey;
  }
  #imgVerificado{
  margin-right: 120px;
  }
