@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
footer{
  color: #d9d9d9;
  box-sizing: border-box;
  background: #171c24;
  position: inherit;
}
.content1{
  position: relative;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  bottom: 0px;
  position: absolute;
  width: 100%;
}
.main-content{
  font-family: 'Poppins', sans-serif;
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content-individual{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content-individual:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #f12020;
}
.box .content-individual:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content-individual p{
  text-align: justify;
}
.left .content-individual .social{
  margin: 20px 0 0 0;
}
.left .content-individual .social a{
  padding: 0 2px;
}
.left .content-individual .social a span{
  height: 40px;
  width: 40px;
  /*background: #1a1a1a;*/
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content-individual .social a span:hover{
  background: #f12020;
}
.center .content-individual .fas{
  font-size: 1.4375rem;
  /*background: #1a1a1a;*/
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content-individual .fas:hover{
  background: #f12020;
}
.center .content-individual .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content-individual .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}

.footer-titulo{
  font-size: 50px;
  text-align: center;
}
.footer-subtitulo{
  font-size: 15px;
  font-style: oblique;
  text-align: center;
}
