.banner-principal{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-align: inherit;
}
.banner-principal img{
  width: 100%;
  height: 380px;
}
.texto-banner{
  font-size: 22px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 39%;
  left: 75%;
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
}
.titulo-banner{
  font-size: 51px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 25%;
  left: 73%;
  transform: translate3d(-50%, -50%, 0);
  color: #e63600;
}
.banner-principal .btn-banner button{
  width: 100%;
  padding: 9px 0;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #e63600;
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: absolute;
  top: 54%;
  left: 73%;
  transform: translate3d(-50%, -50%, 0);
}
.btn-banner button:first-child{
  color: #e63600;
  background: transparent;
}
button:first-child:hover{
  color: #fff;
  background: #ff3d00;
}
.btn-banner button:first-child {
  margin-right: 10px;
  margin: 10px;
}
.btn-banner button:last-child {
  width: 270px;
  margin: 0;
}
button:last-child:hover{
  background: #e63600;
  border-color: #ff6666;
}
.titulo-produto{
  font-size: 30px;
  font-weight: 500;
  color: #e63600;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 70px;
}
.content-produto{
  display: grid;
  place-items: center;
  width: 36%;
  transition: background 0.3s ease;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 70px 0 70px 0;
  height: 875px;
}
.container{
  position: relative;
  height: 370px;
  width: 300px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.container:hover{
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.container .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.container:hover .image img{
  transform: scale(1.1);
}
.container .card-content{
  position: relative;
  height: 100%;
  width: 100%;
}
.card-content .wrapper{
  position: absolute;
  bottom: -100%;
  width: 90%;
  background: #fff;
  padding: 10px 25px;
  box-shadow: -1px -1px 6px rgba(0,0,0,0.1);
  transition: bottom 0.3s ease;
  margin: 0 0 0 -8px;
}
.container:hover .card-content .wrapper{
  bottom: 0px;
}
.wrapper .title{
  font-size: 22px;
  font-weight: 500;
}
.wrapper p{
  font-size: 17px;
  color: grey;
  margin: 0 0 15px 0;
}
.wrapper .price{
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 22px;
  font-weight: 600;
  color: #ff3d00;
}
.wrapper .content{
  margin: 10px 0;
}
.wrapper .content .name{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.wrapper .content .size-value{
  width: 50%;
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
}
.content .size-value span{
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #ff3d00;
}
.content .size-value span.active{
  background: #ff3d00;
  color: #fff;
}
.content .colour-value{
  width: 30%;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.content .colour-value span{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.content .colour-value span.white{
  background: lightgrey;
}
.content .colour-value span.blue{
  background: #ff3d00;
}
.content .colour-value span.yellow{
  background: #EAA523;
}
.content .colour-value span.active:after{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -4px;
  top: -4px;
  box-sizing: border-box;
  border: 2px solid #ff3d00;
  border-radius: 50%;
}
.content .colour-value span.white.active:after{
  border-color: lightgrey;
}
.content .colour-value span.yellow.active:after{
  border-color: #EAA523;
}
.wrapper .btns{
  display: inline;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.wrapper .btns button{
  height: 40px;
  width: 100%;
  margin: 0 0 10px 0;
  border: 2px solid #ff3d00;
  background: #ff3d00;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 20px;
}
#produto2{
  top: -100%;
  left: 90%;
}
#produto3{
  top: -200%;
  left: 180%;
}
#produto4{
  top: -170%;
  left: 180%;
}
#produto5{
  top: -270%;
  left: 90%;
}
#produto6{
  top: -1370px;
  left: 0px;
}
#topo{
  padding: 15px 0 0 40px;
}
