body{
    background-color: white;

}

.card{
    width: 600px;
    box-shadow: 1px 1px 5px #ccc;
    margin: auto;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
input[type=number] {
    -moz-appearance: textfield;
}
.btn{
    background-color: #ffa80f;
    color: white;
}