body{
    background-color: #f0f0f0;
    font-family: Arial;
}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}
.card-body{
    margin-bottom: 5px;
}
.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}
.card-top{
    text-align: center;
}
.card-body > label{
width: 100%;
display: block;
padding: 3px;
}
.card-body > input{
border-radius: 4px;
outline: 0;
width: 250px;
height: 30px;
padding: 5px;
}
h5{
    text-align: center;
}